/*
Off-black = #20222B;
off-white = #a5afd7;
xl = 48px


*/

body {
  font-family: Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
  background-color:#333745;
}

button {
  cursor:pointer;
}

button:disabled {
  cursor:default;
}

.container {
  max-width:600px;
  margin: 0 auto;
  padding:0 16px;
}

.header h1 {
  font-size:32px;
}

.header p {
  font-size:16px;
  color:#a5afd7;
  margin:0;
}


.header {
  background: #20222B;
  margin-bottom: 48px;
  padding:16px 0;
  color:white;
}

.big-button {
  background:#8357c5;
  border:none;
  border-bottom:6px solid #593B85;
  font-weight:bold;
  font-size:32px;
  color:white;
  margin-bottom: 48px;
  padding:24px;
  width:100%;
}

.big-button:disabled {
  opacity:.5;
}

.sm-button {
  background:#8357c5;
  border:none;
  border-bottom:6px solid #593B85;
  font-weight:500;
  color:white;
  padding:12px;

}

.md-button {
  background:none;
  border:none;
  color: #a5afd7;
  padding:0;
}


.fav-button {
  margin-left:auto;
  padding-right:16px;
}

.widget-header {
  background: #3c4251;
  padding: 16px;
  color: #a5afd7;
  display:flex;
  justify-content: space-around;
}

.widget-header h2 {
  margin:0;
}

.widget {
  background:#464b5e;
  margin-bottom:42px;
}

.widget p {
  color: #a5afd7;
  margin:0;
  padding:48px 16px;
  border-bottom: 1px solid #AFB9E4;
}


.option {
  display:flex;
  justify-content:space-between;
  padding: 16px;
  border-bottom:1px solid #AFB9E4;
}

.option h3 {
  color:white;
}

.add-option {
  display:flex;
  padding:12px;
}

.add-option input {
  flex-grow:1;
  background-color: #333745;
  border:none;
  margin-right:12px;
  color: #a5afd7;
  border-bottom:3px solid #262933;
}



.favs-container {
  float:right;
  padding-right:4%;
  margin-top:-3%;
}

.favs {
  position:relative;
  bottom:-20px;
  background-color:#262933;
  color:white;
  padding: 20px;
  margin:10px;
  max-width:220px;
}

.fav-dropdown-btn {
  margin-bottom: 30px;
  margin:-70px 30px 0 0;
  float:right;
}

.add-all-favs-btn {
  margin-bottom:20px;
}

.favorite {
  display:flex;
  justify-content: space-between;
}

.favorite p {
  padding: 0 10px;
}

.sm-fav-button {
  margin-left:auto;
  border-right:solid 1px #262933;
}
